$lowYellow: rgb(232, 198, 6,0.4);
$yellow: rgb(232, 198, 6);
$lowBlue: rgb(45, 69, 148, 0.4);
$blue: rgb(45, 69, 148);
$white: #fff;
$black: #292727;
$lowWhite: rgba(255, 255, 255, 0.8);
$gray: #f2f2f2;
$darkGray: #888;
$red: rgb(162, 33, 33);